body,html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  //min-width: 1295px
  //font-size: 16px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: #333333;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }

html {
  //font-size: 16px;
  background-color: #edf1fc;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

*{
  box-sizing: border-box;
}


a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
a:focus,
a:active {
  outline: none;
}


.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

li, ul, h3, p {
  margin: 0;
  padding: 0;
  list-style:none;
}
dl {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.showEnterActive, .showLeaveActive {
  -webkit-transition: all .3s;
  transition: all .3s
}

.f-l {
  float: left;
}
.f-r {
  float: right;
}

//去掉右边滚动条
//::-webkit-scrollbar {
//  width: 0;
//}
//::-webkit-scrollbar {
//  width: 0 ;height: 0;
//}
//动画效果
.dialog-fade-enter-active,.dialog-fade-leave-active {
  -webkit-transition: all .4s;
  transition: all .4s
}

.dialog-fade-enter,.dialog-fade-leave-active {
  -webkit-transform: translateY(-40px);
  transform: translateY(-40px);
  opacity: 0
}

.left {
  float: left;
}
.right {
  float: right;
}
.text-center{
  text-align: center;
}

//改变滚动条样式
::-webkit-scrollbar
{
  width: 5px;
}
///*定义滚动条轨道 内阴影+圆角*/
//::-webkit-scrollbar-track
//{
//  border-radius: 10px;
//  background-color: rgba(0,0,0,0.1);
//}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgba(0,0,0,0.1);
}

//全局分隔符样式
.el-divider--horizontal{
  margin: 20px 0px !important;
}

.trs-pagination{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top:20px;
}
